.board {
  &__container {
    --zoom: 1;
    --scale: calc(1 / var(--zoom));
  }
  &__svg {
    background-color: $white;

    path {
      fill: none;
      stroke: #1d1d1d;
      stroke-width: 4;
      stroke-dasharray: none;
      stroke-dashoffset: none;
      stroke-linejoin: round;
      stroke-linecap: round;
      pointer-events: none;
    }
  }
}
