.btn {
  padding: 8px 16px;
  border-radius: 10px;
  background-color: $white;
  transition: 0.2s background-color;

  &:hover {
    background-color: #e7e7e7;
  }

  &__shadowed {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }
}
